@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 900 */

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /*by default font weights will be 400*/
  font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}

/* dark 01 */
.text-black{
    color: rgba(19, 19, 19, 1);
}

/* dark 02 */
.text-gray{
    color: rgba(66, 66, 66, 1);
}

/* dark 03 */
.text-light-gray{
    color: rgba(114, 114, 114, 1);
}

.text-primary{
    color: #FF900E;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 18px 22px;
    font-size: 1rem;
    font-weight: 600; /*semi-bold*/
    border: none;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto; /*you can use flex also*/
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;
}

/* header styles */

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 2rem;
    font-weight: 700; /*for bold*/
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500; /*it means medium*/
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 3rem;
}

.banner-image{
    width: 100%;
}

/* teams and features styles */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 100px; /*dunno confused*/
    max-width: 500px;
}

#quick-list{
    font-weight: 500;
}

/* features will enjoy styles */

.features{
    gap: 100px;
}

#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    max-width: 350px;
}

#features-section-description{
    max-width: 580px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge{
    padding: 35px 40px;
    font-size: 1rem;
    font-weight: 500;
    margin-left: -70px;
    margin-top: -100px;
}

#experience-year{
    font-size: 3rem;
    font-weight: 700;
}

.featured-architect img{
    width: 100%;
}

/* some facts styles */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    font-size: 1rem;
    max-width: 540px;
    font-weight: 400;
}

/* sponsors related styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* responsive media query */

/* mobile devices */

@media screen and (max-width: 576px){
    .navbar, 
    .nav-link,
    .teams,
    .features{
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: 1fr; /*similar to repeat(1,1fr)*/
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }

    .our-features{
        margin: 20px;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 70px;
    }


}

/* medium devices */

@media screen and (min-width:576px) and (max-width:992px){
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }

    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

}